/* Default Tags -------------------------------------*/
*{
	font-family: 'Raleway';
	/*border: 2px solid red;*/

}
h1, h2, h3, p{
	font-family: 'Raleway';

}
h1{
	font-weight: bold;*/
	font-size: 2em;
}
h3{
	font-size: 1.2em;
	font-weight: bold;
}
h4{
	font-size: 1.0em;
}
p{

	font-size: 1em;
}
::-webkit-scrollbar { 
    display: none; 
}
/* Base --------------------------------------------*/
a{
	color:gray;
	width:50px
    width: 0px;
    transition: 0.5s ;
    /*white-space: nowrap;*/
    height: 23px;  
}

a:hover{
	color:black;
	font-weight: bolder;
    border-bottom: none; 
    width: 50px;
}

#projectsPG img{
	opacity: 0.8;
	/*filter: grayscale(100%);*/
}

/* Cover ----------------------------------------------*/
#cover {
	overflow: hidden;
	position: relative;
	height:95vh;
	width:100vw;
}
.layer {

	background-position: bottom;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;

}
.layer-01 {
   background-image: url('../img/L5.png');
}
	.layer-01 .offcenter {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
		overflow: hidden;
		height:70vh;
		width:100vw;
		color:grey;
	}
	.layer-01 h2{
		opacity: 0.7;
	}
	.layer-01 p{
		opacity: 0.7;
	}
	.layer-01 h1{
		font-family: 'Playfair Display';
		margin-left: 20vw;
		margin-right: 20vw;
		font-weight: normal;
		font-size:17vh;
		border-bottom: 2px solid currentColor;
		color:dimgrey;
	}
	.layer-01 h3{
		font-size:1.5em ;
	}
.layer-02 {
   background-image: url('../img/L4.png');
}

.layer-03 {
   background-image: url('../img/L3.png');
}
.layer-04 {
   background-image: url('../img/L2.png');
}
.layer-05 {
   background-image: url('../img/L1.png');
}

/* Content ------------------------------------------------ */

.reframe {
  height: 30vh;
  width: 30vh;
  overflow: hidden;
}

.row{
	margin-left: -15px;
	margin-right: 0;
	padding:0;
}
.container-fluid:not(#navbar){
	margin-top: 30vh;
	margin-right:0;
	margin-left:0;
}
.content{
	background-color: white;
}
	#projectsPG{
		/*background-color: lightgrey;*/
		margin-top: 10vh;
		background-image: url('../img/flowers.png');
		background-size:cover;		

	}

	.projtitle{
		margin-top: 5vh;
		margin-bottom: 5vh;
		text-align: center;
	}

	#projectsPG img{

	}

	.allproj{
		display: table-cell;
		padding-top:10vh;
		vertical-align:bottom;
	}

.center{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	overflow: hidden;
	height:100%;
	width:100%;
}
.more-info{
	font-size: 1.0em;
	margin-bottom: 10vh;
	color: dimgrey;
}

/* About Page */

.grayback{
	/*background-color:#e8e8e8;*/
	margin-left: -15px;
	margin-right: -15px;
}



.text{
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
	padding-top: 5vh;

}
.fullscrn{

	height:100vh;
	width:100vw;

}
.partscrn{
	height:75vh;
	width: auto;
	overflow: hidden;
}

.smlscrn{
	height:60vh;
	width:auto;
	overflow: hidden;
	margin-left:-15px;
	margin-right:-15px;
}
.full{
	height:100%;
	margin:auto;	
}
.relative{
	position:relative;
}
.header {
	position:fixed;
}
.imgcenter {

	display:table-cell;
	vertical-align:middle;
	text-align:center;
	overflow: hidden;
	height:50vh;
	width:auto;
}
#about{
	width:50px;
	position:fixed;
	left:1vw;
	top:50vh;
	text-align: center;
	z-index: 6;
	border-radius:5px;
	background-color:white;
	color:black;


}
#about:hover{
	position:fixed;
	background-color:gray;
	color:white;
	border-color:black;

}

.carousel-item img{
	margin:0 auto;
	height: 75vh;
}
.carousel-control-prev-icon{
	height: 100px;
	width: 100px;
	background-size: 100%, 100%;
	background-image: url('../img/arrow-left.png');
}
.carousel-control-next-icon {
	height: 100px;
	width: 100px;
	background-size: 100%, 100%;
	background-image: url('../img/arrow-right.png');
}
 #navbar{
 	margin-top: 2vh;
 	padding-top: 2vh;
 	background-color: white;
 	text-align: center;
 	padding-bottom: 2vh;
 }

 .material-icons.md-18 { font-size: 18px; }
.card{
	width: 12rem;
	height: 15rem;
	margin:10px;
	overflow: hidden;
}
.card:hover{
	filter: opacity(0.8);
}
.card-img-top{
	object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
	object-position: center; /* Center the image within the element */
	width: 100%;
	height: 9rem;
	
}
.card-block{
	padding: 10px;
	display: table;
}
.card-block div{
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

#projdesc{
	padding: 5vh;
}
